@import "../../scss/variables";

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 480px;
  height: 230px;
  padding: 40px;
  border-radius: $radius;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "text text"
    "names names"
    "button_primary button_secondary";
  justify-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 20px 22px #f2f0ff82;
  transition: $transition;

  &:hover {
    box-shadow: 0 0 6px 12px rgb(97 114 211 / 10%);
    transition: $transition;
  }
}

.message {
  line-height: 2;
  grid-area: text;
}

.names {
  grid-area: names;
}

button {
  align-self: center;
}

.button_primary {
  justify-self: flex-end;
  margin-right: 14px;
  background-color: $primary;
  color: white;
  transition: $transition;

  &:hover {
    background-color: darken($primary, 6%);
    transition: $transition;
  }
}

.button_secondary {
  justify-self: flex-start;
  margin-left: 14px;
  background-color: $secondary;
  transition: $transition;

  &:hover {
    background-color: rgb(252 238 0 / 58%);
    transition: $transition;
  }
}
