.root {
  height: 44px;
  width: 400px;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;

  &:focus {
    outline: 3px solid #78abff5e;
    background-color: white;
  }
}
