@import "../../scss/variables";

table {
  margin-bottom: 40px;
  width: 100%;
  border-radius: $radius;
  border: 1px solid #e7e7e7;
  table-layout: fixed;
  text-align: center;

  & thead {
    & th {
      padding: 12px;
      font-weight: 500;
    }
  }

  & tbody {
    & tr {
      border: 1px solid #e7e7e7;

      &:nth-child(odd) {
        background: #fff;
      }

      &:nth-child(even) {
        background: #f7f7f7;
      }

      & td {
        height: 70px;
        & a {
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
  }
}
