@import "./variables";
@import "./libs/normalize";

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(231, 231, 231);
  color: rgb(82, 82, 82);

  &:hover {
    background-color: rgb(231, 231, 231);
    cursor: not-allowed;
  }
}

.popup {
  visibility: hidden;
  opacity: 0;
  transition: $transition;

  &--active {
    visibility: visible;
    opacity: 1;
    transition: $transition;
  }
}

header {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid;
}
